


/*
Comments in CSS:
*/
 /* We can change color value by using 6 digit hexadecimal value or rgb  using color picker*/
                            /* We can also give direct name */



        h1 {
         color:blue;

        }
image{
border-color:blue;
border-width:20px;
border-style:groove;
border-left:blue;
border-top:blue;
}
